.hangMan {
    width: 600px;
    height: auto;
    position: relative;
    top: -80px;
    left: 30%;
    margin: 30px 0px 0px 0px;  
    animation: surgir 1.5s linear;
}

.start {
    width: auto;
    height: 150px;
    position: relative;
    top: -120px;
    left: 43%;
    margin: 30px 0px 0px 0px;  
}

.start:hover {
  cursor: pointer;
  animation: respirar 1s linear infinite;
}


@keyframes surgir {
    0%{
        transform: scale(0);
    }
    70%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes respirar {
    0%{
        transform: scale(1);
    }
    70%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
