.esquerda {

}

.menu {
    position: absolute;
    top: 54px;
    left: 10px;
    font-family: 'Germania One', 'Arial';
    font-size: 15px;
    width: 180px;
    color: #2D3C5A;

}

.menuOpc {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-transform: uppercase;
    background-color: #778055;
    width: 150px;
    height: 35px;
    margin: 5px;
    padding: 1px;
}

.menuDescr {
    color: white;
    width: 78%;
    text-align: center;
    letter-spacing: 1px;
}

.menuIcon img {
    display: flex;
    width: 30px;
    height: 30px;
}

.menuDescr:hover {
    color: #FCA120;
    font-size: 18px;
    transition: 0.2s;
    cursor: pointer;
}

.menuDescr:hover + .menuIcon img {
    transform: scale(1.2);
    transition: 0.2s;
}

.menuIcon img:hover {
    transform: scale(1.2);
    transition: 0.2s;
    cursor: pointer;
}