footer {
	padding: 5px;
	position:absolute;
   	bottom:5px;
   	left: 72%;
	width: 12%;
	height:45px;  
}

footer p {
	font-family: 'Germania One', 'Arial';
	text-align: right;
	color: white;
	font-size: 13px;
	padding: 3px;
}

.creditos a{
	position: inline-block;
   	bottom:5px;
   	left: 55%;
	width: 30%;
	height:20px;  
}

.creditos .logo {
	height: 20px;
	width: auto;
	padding: 2px;
	margin-right: 5px;
	margin-left: 5px;
}