footer {
	padding: 5px;
	position:absolute;
   	bottom:5px;
	max-width: 1160px;
	height:30px;  
}

.creditos {
	background: transparent;
}

.creditos .logo {
	height: 20px;
	width: auto;
	padding: 1%;

}