
.banner {
	display: flex;	
	justify-content: space-between;
	margin-left: 3%;
	margin-right: 3%;
}

.banner .logo {
	height: 35px;
	width: auto;
	padding: 1%;
	margin-top: 1%;
} 

.banner h1 {
	color: #FFFFFF;
	vertical-align: top;
	font-family: 'Germania One', 'Arial';
	font-size: 30px;
	padding: 1%;
	margin-top: 1.5%;
}

.banner img {
	display: flex;
	justify-content: flex-end;
	text-align: right;
	height: 75px;
	width: auto;
}

.menu {
   position: absolute;
   top: 60%;
   left: 10px;
	font-family: 'Germania One', 'Arial';
	font-size: 18px;
	width: 180px;
	color: #B8C9CF;

/*	padding: 3px;
	margin-left: 0%;
	margin-top: 17%;*/
/*	margin-right: 85%;*/
}

.menu .menuOpc {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.menu .menuOpc .menuDescr {
	width: 78%;
	text-align: right;
}

.menu .menuOpc .menuDescr:hover {
	color: white;
	font-size: 22px;
  cursor: pointer;
}

.menu .menuOpc .menuDescr:hover + .menuIcon img {
	width: 34px;
	height: 34px;
}


.menu .menuOpc .menuIcon img{
	width: 30px;
	height: 30px;
	margin-left: 20%;
}



