@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.banner {
	display: flex;	
	justify-content: space-between;
	margin-left: 3%;
	margin-right: 3%;
	background: transparent;
}

.banner .logo {
	height: 35px;
	width: auto;
	padding: 1%;
	margin-top: 1%;
	float: left;
} 

.banner h1 {
	color: #FFFFFF;
	vertical-align: top;
	font-family: 'Germania One', 'Arial';
	font-size: 25px;
	padding: 1%;
	margin-top: 1.5%;
	align-items: center;
}

.banner h1:hover {
	animation: expandir 1s, linear;
}

.banner img {
	display: flex;
	justify-content: flex-end;
	text-align: right;
	height: 85px;
	width: auto;
}

@keyframes expandir {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}