.menuFundo {
    position: absolute;
    top: 66%;
    left: 20px;
    width: 180px;
    height: 153px;
    background-color: #000000;
    opacity: 50%;
}

.menu {
    position: absolute;
    top: 67.5%;
    left: 10px;
    font-family: 'Germania One', 'Arial';
    font-size: 18px;
    width: 180px;
    color: #FFFFFF;
}

.menu .menuOpc {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.menu .menuOpc .menuDescr {
    width: 78%;
    text-align: right;
}

.menu .menuOpc .menuDescr:hover {
    color: #FCA120;
    font-size: 22px;
    cursor: pointer;
    animation: expandir 0.5s, linear;
}

.menu .menuOpc .menuDescr:hover + .menuIcon img {
    width: 35px;
    height: 35px;
}

.menu .menuOpc .menuIcon img:hover {
    width: 35px;
    height: 35px;
}

.menu .menuOpc .menuIcon img{
    width: 30px;
    height: 30px;
    margin-left: 20%;
}
