.principal {

}

.principalBox {
    height: 540px;
    width: 1050px;
    background-color: #778055;
    opacity: 65%;

}

.gameLogo {
    /*display: none;*/
    width: 35%;
    height: auto;
    position: absolute;
    top: 100px;
    left: 20%;
    animation: surgir 1.5s linear;
}

.botaoStart {
    /*display: none;*/
    width: 10%;
    height: auto;
    position: absolute;
    top: 380px;
    left: 30%;
    margin: 30px 0px 0px 0px;  
    cursor: pointer;
    animation: respirar 3s linear infinite;
}

.itemForca {

}

#carrasco {
    display: ;
    width: 380px;
    height: auto;
    position: absolute;
    top: 60px;
    left: 210px;   
}

#cabeca, #tronco, #bracoDireito, #bracoEsquerdo, #pernaDireita, #pernaEsquerda {
    display: ;
    width: auto;
    height: 150px;
    position: absolute;
    top: 200px;
    left: 350px;
}

#palavraOculta {
    font-family: 'Germania One', 'Arial';
    font-size: 51px;
    letter-spacing: 3px;
    position: absolute;
    left: 40%;
    top: 30%;
}

@keyframes surgir {
    0%{
        transform: scale(0.9);
    }
    20%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes respirar {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
