.principal {
	font-family: 'Germania One', 'Arial';
	letter-spacing: 2px;
}

.principalBox {
    height: 540px;
    width: 1050px;
    background-color: #778055;
    opacity: 65%;
    z-index: -1;
}

.gameLogo {
    position: absolute;
    top: 100px;
    left: 33%;
    width: 530px;
    height: auto;
    animation: surgir 1.5s linear;
}

.botaoStart {
    position: absolute;
    top: 150px;
    left: 15px;
    width: 140px;
    height: auto;
    margin: 30px 0px 0px 0px;  
    cursor: pointer;
    animation: respirar 3s linear infinite;
}

.itemForca {

}

#carrasco {
    position: absolute;
    top: 50px;
    left: 160px;   
    width: 320px;
    height: auto;
}

#cabeca, #tronco, #bracoDireito, #bracoEsquerdo, #pernaDireita, #pernaEsquerda {
    position: absolute;
    top: 173px;
    left: 280px;
    width: auto;
    height: 120px;
}

.resultados {
    position: absolute;
    left: 530px;
    top: 30%;

}

#avisos {
    position: absolute;
    top: 67px;
    left: -86px;
    font-size: 80px;
    font-family: 'Germania One', 'Arial';
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: 2px 2px 2px #000;
    cursor: pointer;
}


#totalAcertos {
    position: absolute;
    display: flex;
    align-items: left;
    top: -100px;
    left: -30px;
    width: 420px;
    height: 50px;
}

#totalAcertos img {
    padding-right: 10px;
    width: 50px;
}

.palavraOculta {
	position: relative;
	top: -35px;
	left: -30px;
    font-family: 'Germania One', 'Arial';
    font-size: 45px;
    padding: 7px;
    padding-left: 12px;
    padding-bottom: 10px;
    color: white;
    border-radius: 12px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

#dica {
    position: relative;
    top: 90px;
    left: -30px;
    padding: 3px;
    padding-left: 9px;
    color: #fdbf66;
    text-shadow: 2px 2px 2px #000;
    font-size: 25px;
    border-radius: 12px;
}

@keyframes surgir {
    0%{
        transform: scale(0.9);
    }
    20%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes respirar {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
