.principal {

}

.principalBox {
    height: 540px;
    width: 1050px;
    background-color: #778055;
    opacity: 65%;

}

.gameLogo {
    width: 35%;
    height: auto;
    position: absolute;
    top: 100px;
    left: 40%;
    animation: surgir 1.5s linear;
}

.start {
    width: 10%;
    height: auto;
    position: absolute;
    top: 350px;
    left: 50%;
    margin: 30px 0px 0px 0px;  
    cursor: pointer;
    animation: respirar 3s linear infinite;
}

@keyframes surgir {
    0%{
        transform: scale(0.9);
    }
    20%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes respirar {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
