.areaTeclado {
	position: absolute;
	top: 360px;
	left: 200px;
	color: white;
	font-size: 38px;
	/*letter-spacing: 15px;*/
}

.linhaTeclas {
	padding: 12px 0;
}

.linhaTeclas a {
	padding: 0px 7px;
	margin: 5px;
	box-sizing: border-box;
	border: 2px solid #333;
	border-radius: 10px;
    text-shadow: 2px 2px 4px #222;
	background: rgba(147, 110, 83, 0.7);
}

.linhaTeclas .letraClicada {
	cursor: default;
	color: transparent;
    /*text-shadow: none;*/
}

a:hover {
    color: #FCA120;
    transition: 0.2s;
    cursor: pointer;
}