.wrapper {
  margin: 0 auto;
  max-width: 1366px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: cover;
}

.body {
    position: absolute;
    top: 12.5%;
    left: 200px;
    width: 70%;
    min-height: 78%;
    background-color: #778055;
    opacity: 80%